name: Build static GDB for MIPSel

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            autoconf \
            automake \
            libtool \
            libncurses5-dev \
            libncursesw5-dev \
            libexpat1-dev \
            libz-dev \
            libpython3-dev \
            git \
            build-essential \
            wget \
            gcc-mipsel-linux-gnu \
            g++-mipsel-linux-gnu  # 使用正确的包名

      - name: Build GMP
        run: |
          wget https://ftp.gnu.org/gnu/gmp/gmp-6.2.1.tar.gz
          tar -xzf gmp-6.2.1.tar.gz
          cd gmp-6.2.1
          ./configure --host=mipsel-linux-gnu --prefix=$(pwd)/_install
          make -j$(nproc)
          make install

      - name: Build MPFR
        run: |
          wget https://ftp.gnu.org/gnu/mpfr/mpfr-4.1.0.tar.gz
          tar -xzf mpfr-4.1.0.tar.gz
          cd mpfr-4.1.0
          ./configure --host=mipsel-linux-gnu --prefix=$(pwd)/_install --with-gmp=$(pwd)/../gmp-6.2.1/_install
          make -j$(nproc)
          make install

      - name: Install MIPSel Toolchain
        run: |
          wget https://ftp.gnu.org/gnu/binutils/binutils-2.37.tar.gz
          tar -xzf binutils-2.37.tar.gz
          cd binutils-2.37
          ./configure --target=mipsel-linux-gnu --disable-multilib
          make -j$(nproc)
          sudo make install

      - name: Download GDB source
        run: |
          wget https://ftp.gnu.org/gnu/gdb/gdb-12.1.tar.gz
          tar -xzf gdb-12.1.tar.gz

      - name: Build GDB
        run: |
          cd gdb-12.1
          ./configure --target=mipsel-linux-gnu --prefix=$(pwd)/_install --without-x --disable-gas --disable-binutils --disable-gprof --disable-addr2line --disable-libbfd --with-gmp=$(pwd)/../gmp-6.2.1/_install --with-mpfr=$(pwd)/../mpfr-4.1.0/_install
          make -j$(nproc) all
          make install

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: gdb-static
          path: _install
